

#mainfooter{
background-color: #333; 
color:#ffffff;
border: 0px;
height: 100px;

}

#page-headline {

background-color: #357ebd; 
font-size: 56px;
text-align: center;
padding: 0px;
color:#ffffff;
height: 250px;
margin-bottom: 10px;
font-family: 'Passion One', cursive;
}
#blank-header {
height: 125px;
background-color: #ffffff; 
font-family: 'Passion One', cursive;
color: #357ebd;
font-size:42px; 
}
#mainBody{
height: 337px;	
}

#mainPanel{
height: 217px;	
}

#pic:hover{
width:450; 
}

#recommendation{
	height: 250px;	
}
#offering{
font-size:18px; 
}
#idrecco{

		font-family: 'Passion One', cursive;
		font-size:42px; 
		text-align: center;
}
#recCircle{
	background-color:#d9534f;
	 width:150px;
	  height:150px;
	   border-radius: 500px;
	   	font-family: 'Passion One', cursive;
		font-size:42px; 
		color: white;
}
/*#recCircle:hover{
background-color:white;
color: #d9534f;
}


*/